@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
}

@font-face {
  font-family: "starina";
  src: url(../fonts/OldLondon.ttf);
}

.header__container-starina {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/estrellas.jpg);
  background-position: center center;
  background-size: cover;
}

.header__container-starina h1 {
  color: #f3f3f3;
  margin-left: 20px;
  font-family: 'starina', sans-serif;
}

.header__container-starina a {
  text-decoration: none;
}

.main__container-starina, .main__container-korkor, .main__container-roku {
  height: 150vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #E6F0FF;
}

.main__container-starina .starina__text, .main__container-korkor .starina__text, .main__container-roku .starina__text, .main__container-korkor .korkor__text, .main__container-roku .roku__text {
  font-family: "Montserrat",sans-serif;
  font-size: 1rem;
  height: 40vh;
  color: #000;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  border-top: solid #000 1px;
  padding-top: 20px;
}

.main__container-starina .starina__text h3, .main__container-korkor .starina__text h3, .main__container-roku .starina__text h3, .main__container-korkor .korkor__text h3, .main__container-roku .roku__text h3 {
  text-align: center;
  font-family: "starina";
  color: #000;
}

.main__container-starina .starina__text p, .main__container-korkor .starina__text p, .main__container-roku .starina__text p, .main__container-korkor .korkor__text p, .main__container-roku .roku__text p {
  height: 100%;
  text-align: justify;
}

.main__container-starina .starina__container, .main__container-korkor .starina__container, .main__container-roku .starina__container, .main__container-starina .korkor__container, .main__container-korkor .korkor__container, .main__container-roku .korkor__container, .main__container-starina .roku__container, .main__container-korkor .roku__container, .main__container-roku .roku__container {
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__container-starina .starina__img, .main__container-korkor .starina__img, .main__container-roku .starina__img {
  background-image: url(../images/starina.jpg);
  background-size: cover;
  height: 300px;
  width: 300px;
  border: solid #000 1px;
  -webkit-transition: 1s all;
  transition: 1s all;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.main__container-starina .starina__img:hover, .main__container-korkor .starina__img:hover, .main__container-roku .starina__img:hover {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.main__container-starina .starina__info, .main__container-korkor .starina__info, .main__container-roku .starina__info {
  font-family: 'starina', sans-serif;
  width: 80%;
  overflow: auto;
  padding-top: 20px;
  border-top: solid #000 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.main__container-starina .starina__info h2, .main__container-korkor .starina__info h2, .main__container-roku .starina__info h2 {
  text-align: center;
  color: #000;
  font-family: 'starina', sans-serif;
}

.main__container-starina .starina__info ul, .main__container-korkor .starina__info ul, .main__container-roku .starina__info ul {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main__container-starina .starina__info ul li, .main__container-korkor .starina__info ul li, .main__container-roku .starina__info ul li {
  list-style: none;
}

.footer__container-starina {
  height: 40vh;
  background-image: url(../images/estrellas.jpg);
  background-position: cover;
}

/*KORKOLAKE*/
.footer__container-korkor {
  height: 40vh;
  background: #000;
}

.header__container-korkor {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/paisaje.jpg);
  background-position: center center;
  background-size: cover;
}

.header__container-korkor h1 {
  color: #f3f3f3;
  margin-left: 20px;
  font-family: 'starina', sans-serif;
}

.header__container-korkor a {
  text-decoration: none;
}

.main__container-korkor {
  background: #F1FFE8;
}

.main__container-korkor .korkor__text h3 {
  text-align: center;
  font-family: "starina";
  color: #000;
}

.main__container-korkor .korkor__text p {
  height: 100%;
  text-align: justify;
}

.main__container-korkor .korkor__container {
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__container-korkor .korkor__img {
  background-image: url(../images/korkorlake.jpg);
  background-size: cover;
  height: 300px;
  width: 300px;
  border: solid #000 1px;
  -webkit-transition: 1s all;
  transition: 1s all;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.main__container-korkor .korkor__img:hover {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.main__container-korkor .korkor__info {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  overflow: auto;
  padding-top: 20px;
  border-top: solid #000 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.main__container-korkor .korkor__info h2 {
  text-align: center;
  font-family: "starina";
  color: #000;
}

.main__container-korkor .korkor__info ul {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main__container-korkor .korkor__info ul li {
  list-style: none;
}

/*KORKOR*/
/*ROKU ROKU*/
.header__container-roku {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #259451;
  background-position: center center;
  background-size: cover;
}

.header__container-roku h1 {
  color: #f3f3f3;
  margin-left: 20px;
  font-family: 'starina', sans-serif;
}

.header__container-roku a {
  text-decoration: none;
}

.main__container-roku {
  background: #d3fac3;
}

.main__container-roku .roku__text h3 {
  text-align: center;
  font-family: "starina";
  color: #000;
}

.main__container-roku .roku__text p {
  height: 100%;
  text-align: justify;
}

.main__container-roku .roku__container {
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__container-roku .roku__img {
  background-image: url(../images/roku.jpg);
  background-size: cover;
  height: 300px;
  width: 300px;
  border: solid #000 1px;
  -webkit-transition: 1s all;
  transition: 1s all;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.main__container-roku .roku__img:hover {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.main__container-roku .roku__info {
  width: 80%;
  overflow: auto;
  padding-top: 20px;
  border-top: solid #000 1px;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__container-roku .roku__info h2 {
  text-align: center;
  font-family: 'starina', sans-serif;
  color: #000;
}

.main__container-roku .roku__info ul {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main__container-roku .roku__info ul li {
  list-style: none;
}

.footer__container-roku {
  height: 40vh;
  background: #259451;
}

/*roku roku*/
@media only screen and (min-width: 600px) {
  .main__container-starina .starina__container .starina__img, .main__container-korkor .starina__container .starina__img, .main__container-roku .starina__container .starina__img, .main__container-starina .korkor__container .starina__img, .main__container-korkor .korkor__container .starina__img, .main__container-roku .korkor__container .starina__img, .main__container-starina .roku__container .starina__img, .main__container-korkor .roku__container .starina__img, .main__container-roku .roku__container .starina__img {
    height: 400px;
    width: 400px;
  }
  .main__container-starina .starina__container .starina__info, .main__container-korkor .starina__container .starina__info, .main__container-roku .starina__container .starina__info, .main__container-starina .korkor__container .starina__info, .main__container-korkor .korkor__container .starina__info, .main__container-roku .korkor__container .starina__info, .main__container-starina .roku__container .starina__info, .main__container-korkor .roku__container .starina__info, .main__container-roku .roku__container .starina__info {
    font-size: 1.5rem;
  }
  .main__container-starina .starina__text, .main__container-korkor .starina__text, .main__container-roku .starina__text, .main__container-korkor .korkor__text, .main__container-roku .roku__text {
    font-size: 1.5rem;
  }
  .main__container-starina .starina__text h1, .main__container-korkor .starina__text h1, .main__container-roku .starina__text h1, .main__container-korkor .korkor__text h1, .main__container-roku .roku__text h1 {
    font-family: 'starina', sans-serif;
  }
}

@media only screen and (min-width: 600px) and (min-width: 1500px) {
  .main__container-starina .starina__container .starina__img, .main__container-korkor .starina__container .starina__img, .main__container-roku .starina__container .starina__img, .main__container-starina .korkor__container .starina__img, .main__container-korkor .korkor__container .starina__img, .main__container-roku .korkor__container .starina__img, .main__container-starina .roku__container .starina__img, .main__container-korkor .roku__container .starina__img, .main__container-roku .roku__container .starina__img {
    height: 450px;
    width: 450px;
  }
  .main__container-starina .starina__container .starina__info, .main__container-korkor .starina__container .starina__info, .main__container-roku .starina__container .starina__info, .main__container-starina .korkor__container .starina__info, .main__container-korkor .korkor__container .starina__info, .main__container-roku .korkor__container .starina__info, .main__container-starina .roku__container .starina__info, .main__container-korkor .roku__container .starina__info, .main__container-roku .roku__container .starina__info {
    font-size: 1.5rem;
    width: 50%;
  }
  .main__container-starina .starina__text, .main__container-korkor .starina__text, .main__container-roku .starina__text, .main__container-korkor .korkor__text, .main__container-roku .roku__text {
    font-size: 1.5rem;
    width: 50%;
  }
  .main__container-starina .starina__text h3, .main__container-korkor .starina__text h3, .main__container-roku .starina__text h3, .main__container-korkor .korkor__text h3, .main__container-roku .roku__text h3 {
    font-size: 1.5rem;
  }
  .main__container-starina .starina__text p, .main__container-korkor .starina__text p, .main__container-roku .starina__text p, .main__container-korkor .korkor__text p, .main__container-roku .roku__text p {
    font-size: 1.2rem;
  }
  /*korkolake*/
}

@media only screen and (min-width: 600px) and (min-width: 600px) {
  .korkor__container .korkor__img {
    height: 400px;
    width: 400px;
  }
  .korkor__container .korkor__info {
    font-size: 1.5rem;
  }
  .korkor__text {
    font-size: 1.5rem;
  }
  .korkor__text h1 {
    font-family: 'starina', sans-serif;
  }
}

@media only screen and (min-width: 1500px) {
  .main__container-korkor .korkor__container .korkor__img {
    height: 400px;
    width: 400px;
  }
  .main__container-korkor .korkor__container .korkor__info {
    font-size: 1.5rem;
    width: 50%;
  }
  .main__container-korkor .korkor__text {
    font-size: 1rem;
    width: 50%;
  }
  .main__container-korkor .korkor__text h3 {
    font-size: 1.5rem;
  }
  .main__container-korkor .korkor__text p {
    font-size: 1.2rem;
  }
}

/*roku roku*/
@media only screen and (min-width: 1500px) {
  .main__container-roku .roku__container .roku__img {
    height: 300px;
    width: 300px;
  }
  .main__container-roku .roku__container .roku__info {
    font-size: 1.5rem;
    width: 50%;
  }
  .main__container-roku .roku__text {
    font-size: 1rem;
    width: 50%;
  }
  .main__container-roku .roku__text h3 {
    font-size: 1.5rem;
  }
  .main__container-roku .roku__text p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 600px) {
  .roku__container .roku__img {
    height: 300px;
    width: 300px;
  }
  .roku__container .roku__info {
    font-size: 1.5rem;
  }
  .roku__text {
    font-size: 1.5rem;
  }
  .roku__text h1 {
    font-family: 'starina', sans-serif;
    font-size: 1.5rem;
  }
}

@font-face {
  font-family: "starina";
  src: url(../fonts/OldLondon.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
}

.index__html {
  -webkit-animation-name: inicio;
          animation-name: inicio;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

/*HEADER*/
.header__container {
  height: 40vh;
}

.overlay {
  height: 45vh;
  background-image: url(images/rojuuHeader.png);
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stars__container {
  width: 40vh;
  height: 25vh;
}

.stars__container img {
  height: 100%;
  width: 100%;
}

/*HEADER*/
/*main*/
.main__container {
  height: 420vh;
}

.albumes__box {
  height: 150vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0a1214;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.albumes__box .albumes__title h1 {
  color: #f3f3f3;
  font-family: "Playfair Display";
}

.albumes__container {
  height: 80%;
  background: #0a1214;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Starina*/
.starina__container, .korkor__container, .roku__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.starina__image, .korkor__image, .roku__image {
  background-image: url(https://pbs.twimg.com/media/FSV1bNLXsAEMfeX.jpg:large);
  background-size: cover;
  height: 30vh;
  width: 30vh;
}

.starina__image:hover, .korkor__image:hover, .roku__image:hover {
  opacity: 0.5;
  cursor: pointer;
}

.starina__info h2, .korkor__info h2, .roku__info h2, .rojuu__info h3 {
  text-align: center;
  color: #f3f3f3;
  font-family: "montserrat";
  font-size: 1.5rem;
}

.starina__info, .roku__info, .korkor__info, .rojuu__info {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

/*Starina*/
/*Korkolake*/
.korkor__image {
  background-image: url(https://i.scdn.co/image/ab67616d0000b27309e53d80cd1d69e00104cff5);
}

.korkor__image:hover {
  opacity: 0.5;
  cursor: pointer;
}

/*Korkolake*/
/*RokuRoku*/
.roku__image {
  background-image: url(https://images.genius.com/a86afde2e8ccda086831d4cc441a5f88.1000x1000x1.png);
}

.roku__image:hover {
  opacity: 0.5;
  cursor: pointer;
}

/*RokuRoku*/
/*ROJUU*/
.rojuu__container {
  height: 80vh;
  background-image: url(images/crema.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.rojuu__container h3 {
  position: relative;
  bottom: 1%;
  font-family: "Playfair Display";
  font-size: 1.5rem;
}

.rojuu__image {
  height: 30vh;
  width: 30vh;
  background-image: url(https://www.parlante.cl/wp-content/uploads/2022/05/ROJUU_GONZA-GALLEGO_SHANGAY9-940x626-1.jpeg);
  background-size: cover;
  background-position: center center;
}

.rojuu__info {
  height: 30vh;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rojuu__info p {
  width: 50%;
  text-align: center;
  color: #000;
  overflow: auto;
  border-bottom: solid #0a1214 1px;
  padding: 4px;
  font-family: "Playfair Display";
}

.rojuu__info h3 {
  color: #000;
  font-family: "Playfair Display";
}

/*A partir de aca comienzo a utilizar las propiedades de sass*/
.merch__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f3f3f3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

.merch__box .merch__title h4 {
  font-family: "Playfair Display";
  font-size: 1.5rem;
}

.merch__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f3f3f3;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
}

.merch {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f3f3f3;
}

.merch .merch__img-uno, .merch .merch__img-dos, .merch .merch__img-tres {
  background-size: cover;
  height: 100px;
  width: 100px;
  border: solid #0a1214 1px;
}

.merch .merch__info-uno, .merch .merch__info-dos, .merch .merch__info-tres {
  border: solid #0a1214 1px;
  padding: 10px;
  width: 50%;
  font-family: "montserrat";
  font-size: 1.5rem;
}

.merch .merch__info-uno h5, .merch .merch__info-dos h5, .merch .merch__info-tres h5 {
  text-align: center;
}

.merch__img-uno {
  background-image: url(images/korkorlake.jpg);
}

.merch__img-dos {
  background-image: url(images/grandeshits.jpg);
}

.merch__img-tres {
  background-image: url(images/comic.png);
}

/*main*/
.carrousel__box {
  background: #0a1214;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.carrousel__box h6 {
  color: #f3f3f3;
  font-size: 1.5rem;
  font-family: "Playfair Display";
}

.carrousel__box .carrousel__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 100px;
  border: solid black 2px;
  overflow: hidden;
}

.carrousel__box .carrousel__container .slide {
  width: 50%;
  height: 50%;
  opacity: 0;
}

/*FOOTER*/
.footer__container {
  background-image: url(images/crema.png);
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__container {
  width: 20vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__container:hover {
  background: #f3f3f3;
}

.contact__container a {
  text-decoration: none;
  font-family: "Playfair Display";
  font-size: 1.5rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__social .redes__container {
  height: 100%;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social .redes__container:hover {
  background: #f3f3f3;
}

.footer__social .redes__container a i {
  font-size: 1.5rem;
}

.footer__social .redes__container a i:hover {
  cursor: pointer;
}

/*FOOTER*/
.header__contacto {
  height: 5vh;
  background: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacto a {
  font-family: "starina";
  font-size: 1.5rem;
  text-decoration: none;
  margin-left: 10px;
}

.main__contacto {
  height: 85vh;
  background-image: url(images/concierto6.jpg);
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  width: 90%;
  gap: 2rem;
}

.grid__container .grid-1 {
  width: 70%;
  background: #F9F9F9;
  font-family: "starina";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.grid__container .grid-1 form {
  height: 70%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightgrey;
  border-radius: 5px;
}

.grid__container .grid-1 form textarea {
  resize: none;
}

.grid__container .grid-1 form .input__contacto {
  padding: 10px;
}

.grid__container .grid-1 form .mensaje__container {
  font-family: "Playfair Display";
  font-size: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__container .grid-1 form .mensaje__container h2 {
  margin-bottom: 3px;
}

.grid__container .grid-1 form .enviar {
  font-family: "Playfair Display";
  font-size: .8rem;
  padding: 1rem;
  cursor: pointer;
  border: none;
}

.grid__container .grid-1 form .enviar:hover {
  background-color: #fff;
}

.grid__container .grid-2 {
  width: 30%;
  background: #F9F9F9;
}

.grid__container .grid-2 .social__contacto {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__container .grid-2 .social__contacto i {
  font-size: 10rem;
  cursor: pointer;
}

.grid__container .grid-2 .social__contacto .instagram__contact:hover {
  color: #9a36b3;
}

.grid__container .grid-2 .social__contacto .youtube__contact:hover {
  color: #ff0000;
}

.grid__container .grid-2 .social__contacto .spotify__contact:hover {
  color: #1dd05d;
}

.footer__contacto {
  background: #F9F9F9;
  height: 10vh;
}

@media only screen and (min-width: 1200px) {
  .main__container {
    height: 400vh;
  }
  /*NAV*/
  .social__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social__container .ig__container i {
    font-size: 1.5rem;
  }
  .social__container .sp__container i {
    font-size: 1.5rem;
  }
  .social__container .yt__container i {
    font-size: 1.5rem;
  }
  /*NAV*/
  .albumes__container {
    height: 70vh;
    background: #0a1214;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .albumes__box {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #0a1214;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .albumes__box .albumes__title h1 {
    color: #f3f3f3;
  }
  /*Starina*/
  .starina__container, .korkor__container, .roku__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .starina__image, .korkor__image, .roku__image {
    background-image: url(https://pbs.twimg.com/media/FSV1bNLXsAEMfeX.jpg:large);
    background-size: cover;
    height: 40vh;
    width: 40vh;
  }
  .starina__image:hover, .korkor__image:hover, .roku__image:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  .starina__info h2, .korkor__info h2, .roku__info h2, .rojuu__info h3 {
    text-align: center;
    color: #f3f3f3;
  }
  .starina__info, .roku__info, .korkor__info, .rojuu__info {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  /*Starina*/
  /*Korkolake*/
  .korkor__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .korkor__image {
    background-image: url(https://i.scdn.co/image/ab67616d0000b27309e53d80cd1d69e00104cff5);
    background-size: cover;
    height: 40vh;
    width: 40vh;
  }
  .korkor__image:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  /*Korkolake*/
  /*RokuRoku*/
  .roku__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .roku__image {
    background-image: url(https://images.genius.com/a86afde2e8ccda086831d4cc441a5f88.1000x1000x1.png);
    background-size: cover;
    height: 40vh;
    width: 40vh;
  }
  .roku__image:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  /*rojuu*/
  .rojuu__container {
    height: 100vh;
    background-image: url(images/crema.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rojuu__container h3 {
    bottom: 10%;
  }
  .rojuu__image {
    height: 30vh;
    width: 30vh;
    background-image: url(https://www.parlante.cl/wp-content/uploads/2022/05/ROJUU_GONZA-GALLEGO_SHANGAY9-940x626-1.jpeg);
    background-size: cover;
    background-position: center center;
  }
  .rojuu__info {
    height: 30vh;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rojuu__info p {
    width: 50%;
    text-align: center;
    color: #000;
    overflow: auto;
    border-bottom: solid #0a1214 1px;
    padding: 4px;
    font-size: 1.2rem;
  }
  .rojuu__info h3 {
    color: #000;
  }
  /*rojuu*/
  /*MERCH*/
  .merch__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .merch__box .merch__title h4 {
    font-family: "Playfair Display";
  }
  .merch__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #f3f3f3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60%;
    width: 100%;
  }
  .merch {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f3f3f3;
  }
  .merch .merch__img-uno, .merch .merch__img-dos, .merch .merch__img-tres {
    background-size: cover;
    height: 200px;
    width: 200px;
  }
  .merch .merch__info-uno, .merch .merch__info-dos, .merch .merch__info-tres {
    border: solid #000 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    width: 50%;
    height: 20%;
  }
  .merch__img-uno {
    background-image: url(images/korkorlake.jpg);
  }
  .merch__img-dos {
    background-image: url(images/grandeshits.jpg);
  }
  .merch__img-tres {
    background-image: url(images/comic.png);
  }
  /*MERCH*/
  /*Footer*/
  .footer__container {
    background-image: url(images/crema.png);
    height: 10vh;
    width: 100%;
  }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 20vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__social i {
    font-size: 1.5rem;
  }
  .footer__social i:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
  .grid__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid__container .grid-1 {
    height: 100%;
    width: 90vw;
  }
  .grid__container .grid-1 form {
    height: 80%;
    width: 90%;
  }
  .grid__container .grid-1 form textarea {
    width: 90%;
  }
  .grid__container .grid-2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: none;
  }
}

/*Footer*/
@-webkit-keyframes inicio {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes inicio {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */