@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import 'variables/variablesColores';
@import 'variables/variablesMedidas';
@import 'variables/variablesFonts';
@import 'estilos/albumes';
@font-face {
    font-family:"starina";
    src: url(../fonts/OldLondon.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:$negro
    

}
.index__html{
    animation-name: inicio;
    animation-iteration-count: 1;
    animation-duration: 2s;
    
}




/*HEADER*/

.header__container{
    height: 40vh;

}
.overlay{
    height: 45vh;
    background-image: url(images/rojuuHeader.png);
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.stars__container{
    width:40vh ;
    height:25vh;

    img{
        height:$maximo;
        width:$maximo;
    }

}




/*HEADER*/

/*main*/
.main__container{
    height: 420vh;
    
}
.albumes__box{
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $negroLindo;
    justify-content: space-around;

    .albumes__title{
        h1{
            color:$blanco;           
            font-family: $elegante;
                
            }
        }
    }

.albumes__container{
    height: 80%;
    background: $negroLindo;
    display: grid;
    justify-content: center;
    
}

/*Starina*/
.starina__container{
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.starina__image{
    background-image: url(https://pbs.twimg.com/media/FSV1bNLXsAEMfeX.jpg:large);
    background-size: cover;
    height: 30vh;
    width: 30vh;
}

.starina__image:hover{
    opacity: 0.5;
    cursor: pointer;
}

.starina__info h2,.korkor__info h2,.roku__info h2,.rojuu__info h3{
    text-align: center;
    color:$blanco;
    font-family:$main;
    font-size: 1.5rem;
}

.starina__info,.roku__info,.korkor__info,.rojuu__info{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-flow: column;
}
/*Starina*/

/*Korkolake*/
.korkor__container{
   @extend .starina__container
}

.korkor__image{
    background-image: url(https://i.scdn.co/image/ab67616d0000b27309e53d80cd1d69e00104cff5);
   @extend .starina__image
}

.korkor__image:hover{
    opacity: 0.5;
    cursor: pointer;
}
/*Korkolake*/

/*RokuRoku*/

.roku__container{
    @extend .starina__container

    
}
.roku__image{
    background-image: url(https://images.genius.com/a86afde2e8ccda086831d4cc441a5f88.1000x1000x1.png);
    @extend .starina__image
}

.roku__image:hover{
    opacity: 0.5;
    cursor: pointer;
}

/*RokuRoku*/

/*ROJUU*/

.rojuu__container{
    height: 80vh;
    background-image:url(images/crema.png);
     display: flex;
    flex-flow: column;
    align-items:center ;
    justify-content: space-around;

    h3{
        position: relative;
        bottom: 1%;
        font-family:$elegante;
        font-size: 1.5rem;
    }

   
    
}

.rojuu__image{
   
    height: 30vh;
    width: 30vh;
    background-image: url(https://www.parlante.cl/wp-content/uploads/2022/05/ROJUU_GONZA-GALLEGO_SHANGAY9-940x626-1.jpeg);
    background-size: cover;
    background-position: center center;
}

.rojuu__info{
    height: 30vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    

    p{
        width: 50%;
        text-align: center;
        color:$negro;
        overflow: auto;
        border-bottom: solid $negroLindo 1px;
        padding: 4px;
        font-family: $elegante;
        
        
    }
    h3{
        color:$negro;
        font-family:$elegante;
    }
    
}



/*A partir de aca comienzo a utilizar las propiedades de sass*/
.merch__box{
    display: flex;
    flex-direction: column;
    background: $blanco;
    justify-content: center;
    align-items: center;
    height:90vh;

    .merch__title{
        
            h4{
                font-family:$elegante;
                font-size:1.5rem;
            }
        
    }
}
.merch__container{
    display: flex;
    flex-direction: column;
    background: $blanco;
    justify-content: space-evenly;
    align-items: center;
    height:90%;
    

}

.merch{
    height: 30%;
    display: flex;
    width: $maximo;
    justify-content: space-evenly;
    align-items: center;
    background:$blanco;

  
    

    .merch__img-uno,.merch__img-dos,.merch__img-tres{
    
    background-size:cover;
    height:100px ;
    width: 100px;
    border: solid $negroLindo 1px;
}

    .merch__info-uno,.merch__info-dos,.merch__info-tres{
    border: solid $negroLindo 1px;
    padding:10px;
    width: 50%;
    font-family:$main;
    font-size:1.5rem;
    
    h5{ text-align: center;
        
    }
}



}

.merch__img-uno{
    background-image: url(images/korkorlake.jpg);
}

.merch__img-dos{
    background-image: url(images/grandeshits.jpg);
}

.merch__img-tres{
    background-image: url(images/comic.png);
}


/*main*/

@mixin redes {
    height: $maximo;
    width:33%;
    display: flex;
    align-items: center;
    justify-content: center;

}

//CARROUSEL

.carrousel__box{
    background:$negroLindo ;
    height: 100vh;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    flex-flow: column;
    

    h6{
        color:$blanco;
        font-size: 1.5rem;
        font-family: $elegante
    }

    .carrousel__container{
    display: flex;
    height: 100px;
    width: 100px;
    border: solid black 2px;
    overflow: hidden;

        .slide{
            width: 50%;
            height: 50%;
            opacity: 0;
        }
    }

    

    
}


//CARROUSEL

/*FOOTER*/
.footer__container{
    background-image: url(images/crema.png);
    height: 10vh;
    width: $maximo;
    display: flex;
    flex-flow:row;
    justify-content:space-around;
    align-items: center;
}

.contact__container{
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;

    &:hover{
        background: $blanco;
    }

    a{
        text-decoration:none;
        font-family:$elegante;
        font-size: 1.5rem;
    }
}

.footer__social{
    display: flex;
    height: $maximo;
    width:50vw;
    align-items: center;
    justify-content: space-around;

    .redes__container{
       
        @include redes

        &:hover {
            background:$blanco;
            
        }
        a{
            i{
        font-size: 1.5rem;

        &:hover{
            cursor:pointer;
        }
    }
        }
        

    }

    
}
/*FOOTER*/

//CONTACTO PARTE FINAL
.header__contacto{
    height: 5vh;
    background: #F9F9F9;
    display: flex;
    align-items: center;

    a{
        font-family: "starina";
        font-size: 1.5rem;
        text-decoration:none;
        margin-left:10px;
    }
}

.main__contacto{
    height: 85vh;
    background-image: url(images/concierto6.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items:center

    
}

.grid__container{
        
        display: flex;
        
        height: 90%;
        width: 90%;
        gap: 2rem;

        .grid-1{
            width: 70%;
            background:#F9F9F9;
            
            font-family: "starina";
            display: flex;
            flex-flow:column;
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            
            form{
                height: 70%;
                width: 70%;
                display:flex;
                flex-flow: column;
                justify-content: space-evenly;
                align-items: center;
                background: lightgrey;
                
                border-radius: 5px;
                
                    textarea{
                        resize: none;
                    }

                    .input__contacto{
                        
                        padding: 10px;

                    }
                    
                    .mensaje__container{
                        font-family: $elegante ;
                        font-size: .5rem;
                        display: flex;
                        flex-flow:column ;
                        align-items: center;

                        h2{
                            margin-bottom: 3px;
                        }
                        
                    }

                    .enviar{
                        font-family:$elegante ;
                        font-size: .8rem;
                        padding:1rem;
                        cursor: pointer;
                        border: none;

                        &:hover{
                            background-color: #fff;
                        }
                    }
            }
        }

        .grid-2{
            width: 30%;
            background:#F9F9F9;
            
            
            
            .social__contacto{
                height: 100%;
                display: flex;
                flex-flow:column;
                justify-content: space-evenly;
                align-items: center;

                i{
                    font-size: 10rem;
                    cursor: pointer;
                }

                .instagram__contact:hover{
                    color: #9a36b3;
                }
               .youtube__contact:hover{
                    color: #ff0000;
                }

                .spotify__contact:hover{
                    color: #1dd05d;
                }
            }

        }
    }


.footer__contacto{
    background: #F9F9F9;
    height: 10vh;
}

//CONTACTO PARTE FINAL


@media only screen and (min-width:1200px){
    .main__container{
        height:400vh;
    }

    /*NAV*/
    .social__container{
        display: flex;
        width: 20vw;
        justify-content: space-around;
        height: $maximo;
        align-items: center;

        .ig__container{
            i{
                font-size: 1.5rem;
            }
        } 

    
    

    .sp__container{
        i{
            font-size: 1.5rem;
        }
    } 




.yt__container{
    i{
        font-size: 1.5rem;
    }
} 

}

    
     /*NAV*/
    .albumes__container{
        height: 70vh;
        background:$negroLindo;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: $maximo;
    }

    .albumes__box{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $negroLindo;
        justify-content: center;
    
        .albumes__title{
            h1{
                color:$blanco;
            }
        }
    }

    
    
    /*Starina*/
    .starina__container{
        display:flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    
    .starina__image{
        background-image: url(https://pbs.twimg.com/media/FSV1bNLXsAEMfeX.jpg:large);
        background-size: cover;
        height: 40vh;
        width: 40vh;
    }
    
    .starina__image:hover{
        opacity: 0.5;
        cursor: pointer;
    }
    
    .starina__info h2,.korkor__info h2,.roku__info h2,.rojuu__info h3{
        text-align: center;
        color:$blanco;
    }
    
    .starina__info,.roku__info,.korkor__info,.rojuu__info{
        padding: 10px;
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    /*Starina*/
    
    /*Korkolake*/
    .korkor__container{
        display:flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    
    .korkor__image{
        background-image: url(https://i.scdn.co/image/ab67616d0000b27309e53d80cd1d69e00104cff5);
        background-size: cover;
        height: 40vh;
        width: 40vh;
    }
    
    .korkor__image:hover{
        opacity: 0.5;
        cursor: pointer;
    }
    /*Korkolake*/
    
    /*RokuRoku*/
    
    .roku__container{
        display:flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .roku__image{
        background-image: url(https://images.genius.com/a86afde2e8ccda086831d4cc441a5f88.1000x1000x1.png);
        background-size: cover;
        height: 40vh;
        width: 40vh;
    }
    
    .roku__image:hover{
        opacity: 0.5;
        cursor: pointer;
    }


  /*rojuu*/
  .rojuu__container{
    height: 100vh;
    background-image:url(images/crema.png);
     display: flex;
    flex-flow: column;
    align-items:center ;
    justify-content: center;

    h3{
        bottom: 10%;
    }
    
}

.rojuu__image{
   
    height: 30vh;
    width: 30vh;
    background-image: url(https://www.parlante.cl/wp-content/uploads/2022/05/ROJUU_GONZA-GALLEGO_SHANGAY9-940x626-1.jpeg);
    background-size: cover;
    background-position: center center;
}

.rojuu__info{
    height: 30vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    

    p{
        width: 50%;
        text-align: center;
        color:$negro;
        overflow: auto;
        border-bottom: solid $negroLindo 1px;
        padding: 4px;
        font-size: 1.2rem;
        
        
    }
    h3{
        color:$negro
    }
    
}
  /*rojuu*/

/*MERCH*/

.merch__box{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;

    .merch__title{
        h4{
            font-family:$elegante;
        }
    }
}
.merch__container{
    display: flex;
    flex-direction: row;
    background: $blanco;
    justify-content: center;
    height:60%;
    width: $maximo;

    
    

}

.merch{
    height: $maximo;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    background:$blanco;
    
    

    .merch__img-uno,.merch__img-dos,.merch__img-tres{
    
    background-size:cover;
    height:200px ;
    width: 200px;
    
}

    .merch__info-uno,.merch__info-dos,.merch__info-tres{
    border:solid $negro 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    width: 50%;
    height: 20%;
    
    
}



}

.merch__img-uno{
    background-image: url(images/korkorlake.jpg);
}

.merch__img-dos{
    background-image: url(images/grandeshits.jpg);
}

.merch__img-tres{
    background-image: url(images/comic.png);
}
/*MERCH*/
 


/*Footer*/
.footer__container{
    background-image: url(images/crema.png);
    height: 10vh;
    width: $maximo;
}

.footer__social{
    display: flex;
    height: $maximo;
    width:20vw;
    align-items: center;
    justify-content: space-around;

    i{
        font-size: 1.5rem;

        &:hover{
            cursor:pointer;
        }
    }
}
}

@media only screen and (max-width : 800px){
    
    //Aca me equivoque y no hice movile first pero como es un diseño simple no hubo mucho inconveniente
    
    

    .grid__container{
        justify-content: center;
        
        .grid-1{
        height: 100%;
        width: 90vw;
        
        form{
            height: 80%;
            width: 90%;

            textarea{
                width: 90%;
                
            }
        }
    }

    .grid-2{
        flex-wrap: wrap;
        display: none;
    }

    }
}  
 

/*Footer*/



@keyframes inicio{

    0%{
        transform: translateY(-20%);
        opacity:0;
    }

    100%{
        transform:translateY(0%);
        opacity:1;
    }

}



