
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
@font-face {
    font-family:"starina";
    src: url(../fonts/OldLondon.ttf);
}
@import '../variables/variablesColores';
@import '../variables/variablesMedidas'




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

.header__container{
    height: 10vh;
    display: flex;
    align-items: center;
    background-image:url(../images/estrellas.jpg);
    background-position:center center;
    background-size: cover;

    h1{
        color: $blanco;
        margin-left: 20px;
        font-family: 'starina', sans-serif;
    }
    a{
        text-decoration: none;
    }
}

.main__container{
    height:150vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background:$fondoStarina;


    .starina__text{
        font-family: "Montserrat",sans-serif;
        font-size: 1rem;
        height:40vh;
        color:$negro;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: auto;
        border-top: solid $negro 1px;
        padding-top: 20px;


        h1{
            text-align: center;
        }
        p{
            height: $maximo;
            text-align: justify;
            
        }
    }

    .starina__container{
    width: $maximo;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

    .starina__img{
        background-image: url(../images/starina.jpg);
        background-size: cover;
        height: 300px;
        width: 300px;
        border: solid $negro 1px;
        transition: 1s all;
        flex-shrink: 0;

        &:hover{
            height: 300px;
            width: 300px;
            cursor: pointer;
        }
    }

    .starina__info{
        font-family: 'starina', sans-serif;
       width: 80%;
        overflow: auto;
        padding-top: 20px;
        border-top: solid $negro 1px;
        h1{
            text-align: center;
        }
    }

    }





/*KORKOLAKE*/

.footer__container-korkor{
    height: 40vh;
    background:$negro;
    
}

.header__container-korkor{
    height: 10vh;
    display: flex;
    align-items: center;
    background-image:url(../images/paisaje.jpg);
    background-position:center center;
    background-size: cover;

    h1{
        color:$blanco;
        margin-left: 20px;
        font-family: 'starina', sans-serif;
    }
    a{
        text-decoration: none;
    }
}

.main__container-korkor{
    @extend .main__container;
    background:$fondoKorkor;


    .korkor__text{
        @extend .starina__text;


        h1{
            text-align: center;
        }
        p{
            height: $maximo;
            text-align: justify;
            
        }
    }

    .korkor__container{
    @extend .starina__container
}

    .korkor__img{
        background-image: url(../images/korkorlake.jpg);
        background-size: cover;
        height: 300px;
        width: 300px;
        border: solid $negro 1px;
        transition: 1s all;
        flex-shrink: 0;

        &:hover{
            height: 300px;
            width: 300px;
            cursor: pointer;
        }
    }

    .korkor__info{
        font-family: 'Montserrat', sans-serif;
       width: 80%;
        overflow: auto;
        padding-top: 20px;
        border-top: solid $negro 1px;
        h1{
            text-align: center;
            font-family: "starina";
        }
    }

    }






/*KORKOR*/


/*ROKU ROKU*/
.header__container-roku{
    height: 10vh;
    display: flex;
    align-items: center;
    background:$verdeRoku;
    background-position:center center;
    background-size: cover;

    h1{
        color:$blanco;
        margin-left: 20px;
        font-family: 'starina', sans-serif;
    }
    a{
        text-decoration: none;
    }
}

.main__container-roku{
    @extend .main__container;
    background:$fondoRoku;


    .roku__text{
        @extend .starina__text;


        h1{
            text-align: center;
        }
        p{
            height: $maximo;
            text-align: justify;
            
        }
    }

    .roku__container{
        @extend .starina__container
}

    .roku__img{
        background-image: url(../images/roku.jpg);
        background-size: cover;
        height: 300px;
        width: 300px;
        border: solid $negro 1px;
        transition: 1s all;
        flex-shrink: 0;

        &:hover{
            height: 300px;
            width: 300px;
            cursor: pointer;
        }
    }

    .roku__info{
        
       width: 80%;
        overflow: auto;
        padding-top: 20px;
        border-top: solid $negro 1px;
        font-family: 'Montserrat', sans-serif;
        h1{
            text-align: center;
            font-family: 'starina', sans-serif;
        }
    }

    }

    .footer__container-roku{
        height: 40vh;
        background:$verdeRoku;
        
    }


/*roku roku*/













@media only screen and (min-width:600px){
   

    .main__container{
        .starina__container{
        .starina__img{
    height: 400px;
    width: 400px;
        }

        .starina__info{
            font-size: 1.5rem;
        }
    }
        .starina__text{
            font-size: 1.5rem;
            h1{
                font-family: 'starina', sans-serif;
            }
        }

}

@media only screen and (min-width:1500px){
    .main__container{
        .starina__container{
        .starina__img{
    height: 450px;
    width: 450px;    
        }

        .starina__info{
            font-size: 1.5rem;
            width: 50%;
        }
    }
        .starina__text{
            font-size: 1.5rem;
            width: 50%;

            h3{
                font-size: 1.5rem;
            }
    
            p{
                font-size: 1.2rem;
            }
        }
    }

    /*korkolake*/

    
}

@media only screen and (min-width:600px){
    .korkor__container{
        .korkor__img{
    height: 400px;
    width: 400px;
        }

        .korkor__info{
            font-size: 1.5rem;
        }
    }
        .korkor__text{
            font-size: 1.5rem;
            h1{
                font-family: 'starina', sans-serif;
            }
        }
}
}
@media only screen and (min-width:1500px){
.main__container-korkor{
    .korkor__container{
    .korkor__img{
height: 400px;
width: 400px;    
    }

    .korkor__info{
        font-size: 1.5rem;
        width: 50%;
    }
}
    .korkor__text{
        font-size: 1rem;
        width: 50%;

        h3{
            font-size: 1.5rem;
        }

        p{
            font-size: 1.2rem;
        }
    }
}
    

}

/*roku roku*/



    
@media only screen and (min-width:1500px){
    .main__container-roku{
        .roku__container{
        .roku__img{
            height: 300px;
            width: 300px;    
        }
    
        .roku__info{
            font-size: 1.5rem;
            width: 50%;
        }
    }
        .roku__text{
            font-size: 1rem;
            width: 50%;

            h3{
                font-size: 1.5rem;
            }
    
            p{
                font-size: 1.2rem;
            }
        }
    }
        
    
    }

    @media only screen and( min-width:600px){
        .roku__container{
            .roku__img{
                height: 300px;
                width: 300px;
            }
    
            .roku__info{
                font-size: 1.5rem;
            }
        }
            .roku__text{
                font-size: 1.5rem;
                h1{
                    font-family: 'starina', sans-serif;
                    font-size: 1.5rem;
                }
            }
    }